/* Place CSS styles here */
body {
  color: white;
  font-family: 'Comfortaa', cursive;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.70),
      rgba(0, 0, 0, 0.70)
    ),
    url(../img/gizmo_dancing_on_the_moon_lonely_starry_night_surreal.png);

  background-size: cover;
}

.kitkat-intro-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.kitkat-audio {
  margin-bottom: 32px;
}

.kitkat-intro-image {
  width: 200px;
}

.kitkat-intro-paragraph {
  font-size: 1.5rem;
  margin-top: 0;
}

.kitkat-intro-paragraph-no {
  text-transform: uppercase;
  color: #e94a4a;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 80px;
  transition: all 1s ease;
}

.kitkat-intro-paragraph-no:hover {
  text-shadow: 0 0 20px white;
  font-size: 120px;
}

.kitkat-intro-paragraph-drinking {
  font-family: 'Lobster', cursive;
}

/* Wobble Skew */
@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

